# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\curso-java-basico\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
